body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121212; 
}

.carousel-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 80%;  
    height: 500px;  
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 255, 255, 0.5); 
}

.carousel-btn {
    padding: 15px;
    background-color: rgba(0, 255, 255, 0.6);  
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    z-index: 10;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.carousel-btn:hover {
    background-color: rgba(0, 255, 255, 1); 
}

#carousel-image {
    width: 100%; 
    height: 100%;
    object-fit: cover;
}
